<div style="background-color:#1f2122">
  <table class="table table-bordered table-dark">
    <tr>
      <th>Count</th>
      <th>Order Id</th>
      <th>State</th>
    </tr>
    <% @points.each do |point| %>
      <tr>
        <td><%= point.count %></td>
        <td><%= point.product_order_id %></td>
        <td><%= point.state %></td>
      </tr>
    <% end %>
  </table>
</div>


