<h1>Editing calification</h1>

<%= render "form", calification: @calification %>

<br>

<div>
  <%= link_to "Show this calification", @calification %> |
  <%= link_to "Back to califications", califications_path %>
</div>
