<h1>Editing multiplex</h1>

<%= render "form", multiplex: @multiplex %>

<br>

<div>
  <%= link_to "Show this multiplex", @multiplex %> |
  <%= link_to "Back to multiplexes", multiplexes_path %>
</div>
