<div id="multiplexes">
  <table class="table table-bordered table-dark">
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Address</th>
      <th>Cinemas number</th>
    </tr>
    <% @multiplexes.each do |multiplex| %>
      <tr>
        <td><%= link_to "#{multiplex.id}", multiplex_cinemas_path(multiplex.id) %></td>
        <td><%= multiplex.name %></td>
        <td><%= multiplex.address %></td>
        <td><%= multiplex.cinemas_number %></td>
      </tr>
    <% end %>
  </table>
</div>

