<% flash.each do |type, msg| %>
  <div class="alert alert-warning">
    <%= msg %>
  </div>
<% end %>
<h1>Aqui deberia ir el index de la pagina</h1>
<% if @current_user.is_employee? %>
  <%= render 'welcome/welcome_employee', current_user: @current_user  %>
<%else %>
  <%= render 'welcome/welcome_client', current_user: @current_user %>
<% end %>


